{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hellokube
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
{{- if .Values.ingress.host }}
    - host: {{ .Values.ingress.host | quote }}
      http:
{{- else }}
    - http:
{{- end }}
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: Prefix
            backend:
              service:
                name: hellokube
                port:
                  number: {{ .Values.service.port }}
{{- end }}